@using DataAccessLayer.Model
@model List<Post>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <a asp-action="CreatePost" class="btn btn-success"> Create New</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @ViewBag.Category
        @if (Model != null && Model.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Content</th>
                        <th>Category</th>
                        <th>Sub Category</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var post in Model)
                    {
                        <tr>
                            <td>@post.Title</td>
                            <td>@post.Date</td>
                            <td>
                                @if (post.Content.Length > 100)
                                {
                                    <span class="truncated-content">@Html.Raw(TruncateString(post.Content, 100))</span>
                                    <a href="#" class="expand-link" data-toggle="collapse" data-target="#collapse-@post.PId">...</a>
                                    <div id="collapse-@post.PId" class="collapse">
                                        @Html.Raw(post.Content)
                                    </div>
                                }
                                else
                                {
                                    @Html.Raw(post.Content)
                                }
                            </td>
                            <td>@post.CategoryId</td>
                            <td>@post.SubcategoryId</td>
                            <td>
                                <a href="@Url.Action("Update", "Admin", new { id = post.PId })" class="btn btn-primary">E</a> |
                                <a href="@Url.Action("Delete", "Admin", new { id = post.PId })" class="btn btn-danger" onclick="return confirmDelete()">D</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No posts found.</p>
        }
        @{
            string TruncateString(string content, int maxLength)
            {
                if (content.Length > maxLength)
                {
                    return content.Substring(0, maxLength);
                }
                return content;
            }
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.expand-link').click(function (e) {
            e.preventDefault();
            $(this).closest('tr').find('.collapse').collapse('toggle');
        });
    });
</script>

<script type="text/javascript">
    function confirmDelete() {
        if (confirm("Are you sure you want to delete this item?")) {
            return true;
        } else {
            return false;
        }
    }

    function TruncateString(content, maxlength){
        if(content.length > maxlength){
            return content.substring(0, maxlength) + "...";
        }
        return content;
    }
</script>